<launch>
    <arg name="rear_laser" default="false"/>

    <arg name="use_upper_body_detector" default="true"/> <!-- use depth-template-based upper-body detector? -->
    <arg name="use_pcl_detector" default="false"/> <!-- use ROI-HOG detector from PCL library? cannot be used with upper-body detector at the same time! -->
    <arg name="use_hog_detector" default="true"/> <!-- use RGB groundHOG detector? Requires cudaHOG library-->

    <arg name="camera_frame" default="/camera_depth_optical_frame"/>
    <arg name="camera_namespace" default="/camera"/>
    
    <param name="/use_sim_time" value="true"/>

    <arg name="base_footprint_frame_id" default="base_footprint"/>  <!-- name of the robot's base frame after projection onto the ground plane -->

    <!-- RGB-D detectors -->
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/front_rgbd_detectors.launch">
        <arg name="upper_body" value="$(arg use_upper_body_detector)"/>
        <arg name="pcl_detector" value="$(arg use_pcl_detector)"/>
        <arg name="hog" value="$(arg use_hog_detector)"/>
        <arg name="camera_frame_string" value="$(arg camera_frame)"/>
        <arg name="camera_namespace_string" value="$(arg camera_namespace)"/>
        <!-- <arg name="base_footprint_frame_id" value="$(arg base_footprint_frame_id)"/> -->
    </include>

    <!-- Laser detectors -->
    <include file="$(find spencer_people_tracking_launch)/launch/detectors/laser_detectors.launch"> 
        <arg name="laser_input_topic" value="/scan"/>
        <arg name="rear" value="$(arg rear_laser)"/>
    </include>

    <!-- People tracking -->
    <include file="$(find spencer_people_tracking_launch)/launch/tracking/freiburg_people_tracking.launch">
        <arg name="rgbd" default="true"/>
        <arg name="laser_low_confidence_detections" default="true"/>
        <arg name="static_map_filter" value="false"/>
    </include>

    <!-- Group tracking -->
    <!-- <include file="$(find spencer_people_tracking_launch)/launch/tracking/group_tracking.launch"/>  -->

</launch>
